<?php

timer::task(_SECOND, function(){

    $file = SYSDATA_PATH . DS . 'release.cx';

    if(file_exists($file))
    {
        $secret = sys::read($file);

        if($secret === _config('app.release.secret'))
        {
            if(unlink($file))
            {
                timer::log('Deleted Release File.');
            }
            else
            {
                timer::log('Error : Deleting Release File');
            }

            $exec = sys::exec('cd ' . ROOT_PATH . '; git reset --hard; git pull origin production');
            timer::log($exec);
        }
    }

});