<?php
timer::task(_DAY, function(){

    try
    {
        $sitemap = new sitemap();
        $sitemap->generate();
    }
    catch(Exception $e)
    {
        echo $e->getMessage();
    } 
});