RewriteEngine On

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?cxURL=$1 [QSA,L]

# Dont List
Options -Indexes

# Error Pages
ErrorDocument 403 /pages/403.php
ErrorDocument 404 /pages/404.php
ErrorDocument 500 /pages/500.php

ErrorDocument 404 /system/app/views/error/404.view

AddType    application/x-httpd-php .php .html .htm .cx .view .controller .class .layout .settings .model .config
AddHandler application/x-httpd-php .php .html .htm .cx .view .controller .class .layout .settings .model .config

<IfModule pagespeed_module>
    ModPagespeed off
    ModPagespeedDisallow "*.amp"
    ModPagespeedEnableFilters remove_comments
    ModPagespeedEnableFilters make_google_analytics_async
    ModPagespeedEnableFilters make_show_ads_async
    ModPagespeedEnableFilters rewrite_javascript
    ModPagespeedEnableFilters rewrite_css
    ModPagespeedEnableFilters rewrite_style_attributes
    ModPagespeedEnableFilters sprite_images
    ModPagespeedEnableFilters extend_cache
    ModPagespeedEnableFilters extend_cache_pdfs
  # ModPagespeedEnableFilters remove_quotes
    ModPagespeedEnableFilters resize_images
    ModPagespeedEnableFilters responsive_images
    ModPagespeedEnableFilters responsive_images_zoom
    ModPagespeedImageRecompressionQuality 100
    ModPagespeedEnableFilters local_storage_cache
    ModPagespeedEnableFilters convert_meta_tags
    ModPagespeedEnableFilters combine_heads
    ModPagespeedEnableFilters collapse_whitespace
    ModPagespeedEnableFilters elide_attributes
    ModPagespeedEnableFilters insert_dns_prefetch
    ModPagespeedEnableFilters trim_urls
    ModPagespeedEnableFilters rewrite_domains
    ModPagespeedDomainRewriteHyperlinks on
    ModPagespeedEnableFilters combine_javascript
    ModPagespeedCombineAcrossPaths on
</IfModule>