.clear{

    &:after{
        content:'';
        display:table;
        clear:both;
    }
}

.settings-form{

    h4{

        i.material-icons{

            margin-right:10px;
        }
    }
}

.card{

    .row{
        margin-bottom:0;
    }
}