@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin-ext);
html, body {
  height: 100%;
  width: 100%; }

body {
  background-color: #f0f0f0;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-weight: lighter;
  margin: 0; }

a {
  color: inherit; }

.pd15 {
  padding: 15px; }

.pd25,
.admin-container {
  padding: 25px; }

.mgt15 {
  margin-top: 15px; }

.mgr5 {
  margin-right: 5px; }

.color666 {
  color: #666; }

.colorGreen {
  color: #84ae29; }

.panel-heading {
  padding: 15px 20px;
  text-shadow: 0 1px 0 #fff;
  font-weight: normal;
  color: #666; }

.panel-body {
  padding: 20px; }

.pagination {
  margin: 0 auto; }

.user-verified-icon {
  font-size: 20px; }

/* Tooltip ================== */
.green-tooltip + .tooltip.top > .tooltip-inner {
  background-color: #85AE29;
  color: #fff;
  padding: 10px 15px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }

.green-tooltip + .tooltip.top .tooltip-arrow {
  border-top-color: #85AE29; }

.orange-tooltip + .tooltip.top > .tooltip-inner {
  background-color: #d35400;
  color: #fff;
  padding: 10px 15px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }

.orange-tooltip + .tooltip.top .tooltip-arrow {
  border-top-color: #d35400; }

#main-content {
  width: 100%;
  height: 100%;
  min-width: 1000px;
  position: relative;
  background: #fff;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.01); }

/* Left Col ========================== */
#left-col {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background: #333;
  color: #eee; }
  #left-col #left-col-body {
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative; }
    #left-col #left-col-body .user-area {
      background: #444;
      border-bottom: solid 1px #313131;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      padding: 20px 15%;
      width: 100%;
      display: table; }
      #left-col #left-col-body .user-area .avatar-col {
        display: table-cell;
        vertical-align: middle;
        width: 60px; }
        #left-col #left-col-body .user-area .avatar-col img {
          width: 40px;
          height: 40px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          background: #eee; }
      #left-col #left-col-body .user-area .user-col {
        display: table-cell;
        vertical-align: middle;
        color: #eee;
        font-weight: lighter;
        font-size: 16px; }

/* Admin Menu ================================ */
.admin-menu {
  margin-top: 15px; }

.admin-menu ul,
.admin-menu li {
  list-style: none;
  padding: 0;
  margin: 0; }

.admin-menu ul li a {
  display: inline-block;
  padding: 15px 15%;
  text-decoration: none;
  color: #A7ACB2;
  width: 100%;
  font-size: 14px;
  font-weight: lighter; }

.admin-menu ul li a:after {
  content: '';
  display: table;
  clear: both; }

.admin-menu ul li {
  transition: 0.1s; }

.admin-menu ul li a .badge {
  float: right;
  background-color: transparent;
  color: #85AE29; }

.admin-menu .fa {
  color: #eee;
  width: 30px; }

.admin-menu .submenu {
  padding: 0;
  margin-left: 70px;
  display: none;
  border-left: solid 2px #444; }

.admin-menu .submenu li a {
  padding: 0 15px;
  color: #ccc;
  font-size: 12px; }

/* Left Bottom Box ============================== */
#left-bottom-box {
  position: absolute;
  bottom: 0;
  background-color: #212121;
  border-top: solid 1px #202020;
  width: 100%; }

#left-bottom-box a {
  color: #ccc;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 10px;
  display: inline-block; }

/*  Right Col ================================= */
#right-col {
  position: absolute;
  left: 250px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  width: calc(100% - 250px); }

#admin-content {
  position: relative;
  height: 100%; }

/* Topbar Tabs */
.topbar {
  font-size: 25px;
  font-weight: normal;
  background: #fff;
  padding: 15px 25px;
  border-bottom: solid 1px #e0e0e0;
  margin-bottom: 15px; }

.topbar .table_name {
  color: #89ae29; }

.topbar:after {
  content: '';
  display: table;
  clear: both; }

.topbar-tabs {
  background: #fefefe; }

.topbar-tabs a {
  text-decoration: none;
  font-weight: lighter;
  padding: 15px;
  display: inline-block;
  border-left: solid 1px #eee;
  font-size: 20px; }

/* Bottom Bar =================== */
.bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  font-weight: normal;
  background: #fff;
  border-top: solid 1px #eee;
  text-align: center; }

.bottom-bar a {
  color: #89ae29;
  text-decoration: none;
  font-weight: lighter;
  padding: 15px 15px;
  display: inline-block;
  border-right: solid 1px #eee;
  font-size: 16px; }

.bottom-bar a:last-child {
  border-right: none; }

/* Table =================== */
.table {
  width: 100%; }
  .table .table-right-buttons a {
    margin: 0 4px; }
  .table thead {
    color: #888;
    font-weight: normal;
    font-size: 12px; }
  .table tbody {
    font-size: 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
  .table td {
    vertical-align: middle !important; }

/* Forms ====================== */
.form-container {
  max-width: 600px;
  min-width: 400px;
  width: 100%; }

.input-group {
  width: 100%;
  max-width: 600px;
  min-width: 400px;
  margin-bottom: 15px; }

.form-inline .input-group {
  width: auto;
  max-width: auto;
  min-width: auto;
  margin: 0;
  margin-right: 5px; }
  .form-inline .input-group:last-child {
    margin-right: 0; }

.panel.panel-form {
  max-width: 600px;
  margin: 0; }

.form-control {
  background-color: #f9f9f9;
  padding: 15px;
  height: auto;
  border: solid 1px #d9d9d9;
  box-shadow: none; }

select {
  height: 50px !important; }

label {
  font-size: 12px;
  color: #777;
  font-weight: bold; }

/* Top Alert */
.topAlert {
  position: fixed;
  top: 15px;
  right: 15px;
  max-width: 500px;
  z-index: 9999999999999;
  display: none; }

.topAlert .alert {
  margin: 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }

.create-database .column-buttons a {
  margin: 0 10px; }
.create-database .input-column-row .w40 {
  width: calc(40% - 4px); }
.create-database .input-column-row .w20 {
  width: calc(20% - 4px); }

.title {
  font-size: 22px;
  color: #d35400;
  font-weight: lighter;
  border-bottom: solid 1px #e0e0e0;
  padding: 20px 0 10px 0;
  margin-bottom: 20px;
  white-space: nowrap; }
  .title:after {
    content: '';
    display: table;
    clear: both; }
  .title .form-control[type="search"] {
    background: #eee;
    font-size: 12px;
    height: auto;
    width: 100px;
    padding: 5px 10px;
    transition: .5s; }
    .title .form-control[type="search"]:focus {
      width: 200px; }
  .title .btn {
    padding: 1px 5px;
    font-size: 12px;
    margin-left: 10px;
    font-weight: lighter;
    line-height: 20px; }

.container-fluid {
  margin: 0 20px; }

.pagination-row {
  padding: 10px 0;
  margin: 10px 0;
  border-top: solid 1px #eee; }
  .pagination-row .pagination {
    margin: 0;
    padding: 0; }
    .pagination-row .pagination li a {
      padding: 5px 10px;
      line-height: normal;
      font-size: 12px;
      font-weight: normal;
      border: solid 1px #e0e0e0; }

[data-title]:hover {
  position: relative; }
[data-title]:hover:after {
  content: attr(data-title);
  color: #eee;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 20;
  text-shadow: none;
  font-size: 12px;
  background: #343434;
  padding: 10px;
  max-width: 100%;
  min-width: 200px;
  width: 50%;
  border-radius: 4px; }

/*# sourceMappingURL=style.css.map */
