<?php

_config('sys.url.var', 'cxURL');
_config('developers', [ 'Mustafa Aydemir' => 'mustafa@aydemir.im']);

_config('language.default', 'en-us');
_config('language.auto',     false);
_config('language.url',      false);

_config('logger', true);
_config('net.user_agent', 'Criexe::NET');

_config('router', [

    '#^home$#i'     => 'home',
    '#^login$#i'    => 'user/login_form',
    '#^register$#i' => 'user/register_form',
    '#^logout$#i'   => 'user/logout',

    '#^rss$#' => 'sys/rss'
]);

_config('router.default', [

    'controller' => 'app',
    'method'     => 'index'
]);

_config('cookie.prefix', 'cx_');
_config('error', false);
_config('image.url', '/contents/images');
_config('database.prefix', null);
_config('date.pattern', 'F j, Y, g:i a');

_config('cache', false, 'kizlar.online');

_config('content.image.max_width', 800);


// Errors
_config('error.404.text', 'We did not find the page you were looking for.');
_config('error.404.latest.params', [

    'limit' => 0
]);