.dict-content-area {
  height: 100%; }

.dictionary {
  margin-top: 50px; }
  .dictionary .panel-dictionary, .dictionary .panel-dictionary-sidebar {
    border: solid 1px #e0e0e0; }
    .dictionary .panel-dictionary .panel-heading, .dictionary .panel-dictionary-sidebar .panel-heading {
      padding: 25px;
      border-bottom: solid 2px #eee;
      background: #f9f9f9; }
      .dictionary .panel-dictionary .panel-heading .dict-title, .dictionary .panel-dictionary-sidebar .panel-heading .dict-title {
        color: #d35400;
        margin: 0;
        padding: 0; }
      .dictionary .panel-dictionary .panel-heading .dict-desc, .dictionary .panel-dictionary-sidebar .panel-heading .dict-desc {
        color: #666;
        margin-top: 10px; }
      .dictionary .panel-dictionary .panel-heading .userbar, .dictionary .panel-dictionary-sidebar .panel-heading .userbar {
        border-top: solid 1px #eee;
        padding-top: 15px;
        margin-top: 15px; }
        .dictionary .panel-dictionary .panel-heading .userbar .userimg, .dictionary .panel-dictionary-sidebar .panel-heading .userbar .userimg {
          width: 18px;
          height: 18px;
          position: relative;
          margin-top: -2px;
          border-radius: 50%;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          vertical-align: middle; }
        .dictionary .panel-dictionary .panel-heading .userbar .namesurname, .dictionary .panel-dictionary-sidebar .panel-heading .userbar .namesurname {
          color: #999;
          margin-left: 10px;
          text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
          font-weight: bold; }
    .dictionary .panel-dictionary .panel-body, .dictionary .panel-dictionary-sidebar .panel-body {
      padding: 25px; }
  .dictionary .panel-dictionary-sidebar {
    position: relative; }
    .dictionary .panel-dictionary-sidebar .panel-heading {
      padding: 0; }
      .dictionary .panel-dictionary-sidebar .panel-heading a.btn-refresh {
        margin-top: 20px;
        margin-right: 20px;
        display: inline-block;
        transition: 1s;
        color: #999; }
        .dictionary .panel-dictionary-sidebar .panel-heading a.btn-refresh:hover {
          transform: rotate(360deg); }
      .dictionary .panel-dictionary-sidebar .panel-heading .dict-dropdown-label {
        display: inline-block;
        margin: 0;
        padding: 20px 20px;
        font-weight: normal;
        color: #c0392b;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
        text-decoration: none; }
      .dictionary .panel-dictionary-sidebar .panel-heading .dropdown-menu li {
        width: 100%; }
        .dictionary .panel-dictionary-sidebar .panel-heading .dropdown-menu li a {
          display: inline-block;
          padding: 10px 15px;
          width: 100%; }
  .dictionary .content-col .loading {
    margin-top: 20px; }
  .dictionary .content-col .dict-title {
    margin: 0;
    padding: 0;
    font-size: 28px; }
  .dictionary .content-col .by-user {
    line-height: 1; }
  .dictionary .content-col .panel-heading {
    border-bottom: solid 3px #eee; }
    .dictionary .content-col .panel-heading .dict-desc {
      color: #666;
      margin-top: 15px; }
    .dictionary .content-col .panel-heading .userbar {
      border-top: solid 1px #eee;
      padding-top: 20px;
      margin-top: 20px; }
      .dictionary .content-col .panel-heading .userbar .userimg {
        width: 18px;
        height: 18px;
        position: relative;
        margin-top: -2px;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        vertical-align: middle; }
      .dictionary .content-col .panel-heading .userbar .namesurname {
        color: #999;
        margin-left: 10px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
        font-weight: bold; }
  .dictionary .content-col .answers-cont .appended-line {
    background: #DFF0D8; }
  .dictionary .content-col .answers-cont .answer-line {
    border-bottom: solid 1px #eee;
    padding: 0 25px 0 0;
    width: 100%;
    display: table;
    transition: 2s;
    position: relative; }
    .dictionary .content-col .answers-cont .answer-line .bg-text {
      position: absolute;
      z-index: 1;
      font-size: 50px;
      top: 4px;
      right: 25px;
      color: rgba(0, 0, 0, 0.1);
      font-weight: bold;
      opacity: 0;
      transition: 1s; }
    .dictionary .content-col .answers-cont .answer-line:hover .bg-text {
      opacity: 1; }
    .dictionary .content-col .answers-cont .answer-line p {
      margin: 0;
      position: relative;
      z-index: 2;
      overflow: auto;
      font-weight: lighter;
      line-height: 28px;
      font-size: 16px; }
      .dictionary .content-col .answers-cont .answer-line p img {
        max-height: 400px;
        max-width: 100%;
        width: auto;
        border-radius: 4px; }
    .dictionary .content-col .answers-cont .answer-line textarea.form-control.edit-textarea {
      height: 400px; }
    .dictionary .content-col .answers-cont .answer-line blockquote p {
      margin-bottom: 10px; }
    .dictionary .content-col .answers-cont .answer-line .answer-left-col {
      display: table-cell;
      width: 100px;
      text-align: center;
      vertical-align: top;
      border-right: solid 1px #eee;
      padding: 30px 0;
      background: #fbfbfb; }
      .dictionary .content-col .answers-cont .answer-line .answer-left-col .answer-number {
        font-size: 30px;
        font-weight: bold;
        color: #ddd; }
      .dictionary .content-col .answers-cont .answer-line .answer-left-col span.day,
      .dictionary .content-col .answers-cont .answer-line .answer-left-col span.month,
      .dictionary .content-col .answers-cont .answer-line .answer-left-col span.year {
        display: block;
        text-align: center;
        line-height: 20px; }
      .dictionary .content-col .answers-cont .answer-line .answer-left-col span.day {
        font-size: 16px;
        font-weight: bold;
        color: #888; }
      .dictionary .content-col .answers-cont .answer-line .answer-left-col span.month {
        font-size: 12px;
        font-weight: normal;
        color: #999; }
      .dictionary .content-col .answers-cont .answer-line .answer-left-col span.year {
        font-size: 12px;
        font-weight: lighter;
        color: #999; }
    .dictionary .content-col .answers-cont .answer-line .answer-right-col {
      display: table-cell;
      vertical-align: top;
      padding: 30px 0;
      padding-left: 20px; }
      .dictionary .content-col .answers-cont .answer-line .answer-right-col .linebar {
        padding: 20px 0;
        margin-top: 20px;
        text-align: right; }
        .dictionary .content-col .answers-cont .answer-line .answer-right-col .linebar:after {
          content: '';
          display: table;
          clear: both; }
        .dictionary .content-col .answers-cont .answer-line .answer-right-col .linebar .userimg {
          width: 18px;
          height: 18px;
          position: relative;
          margin-top: -2px;
          border-radius: 50%;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          vertical-align: middle; }
        .dictionary .content-col .answers-cont .answer-line .answer-right-col .linebar .namesurname {
          color: #999;
          margin-left: 10px;
          text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
          font-weight: bold; }
  .dictionary .content-col .pagination {
    margin: 0 auto; }
  .dictionary .content-col .dict-tags {
    margin-top: 20px;
    line-height: 35px; }
    .dictionary .content-col .dict-tags .tag {
      margin-right: 2px;
      background: #f4f7f8;
      border: solid 1px #cee9f9;
      padding: 2px 4px;
      border-radius: 4px;
      font-size: 12px;
      text-decoration: none;
      color: #0095dda;
      transition: .5s; }
  .dictionary .left-col {
    position: relative; }
    .dictionary .left-col .loading {
      margin: 15px;
      font-size: 16px; }
    .dictionary .left-col ul.recent-dict {
      margin: 0;
      padding: 0;
      height: 1000px; }
      .dictionary .left-col ul.recent-dict li {
        list-style: none;
        border-bottom: solid 1px #eee;
        padding: 0;
        width: 100%; }
        .dictionary .left-col ul.recent-dict li:after {
          content: '';
          display: table;
          clear: both; }
        .dictionary .left-col ul.recent-dict li .line {
          width: 100%; }
          .dictionary .left-col ul.recent-dict li .line a {
            width: 100%;
            display: table-cell;
            vertical-align: middle;
            padding: 20px;
            color: #666;
            text-decoration: none;
            transition: .3s; }
            .dictionary .left-col ul.recent-dict li .line a:hover {
              color: #d35400; }
          .dictionary .left-col ul.recent-dict li .line .badge {
            padding: 0 20px;
            display: table-cell;
            text-align: right;
            vertical-align: middle;
            background: none;
            color: #ddd;
            font-weight: bold;
            font-size: 12px;
            margin: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            transition: .3s; }
        .dictionary .left-col ul.recent-dict li:hover {
          background: #f9f9f9; }
          .dictionary .left-col ul.recent-dict li:hover .badge {
            color: #666; }

form.dict-post-form .form-control, form.dict-post-form .tagsinput {
  height: auto;
  width: 100%;
  background: #f5f5f5;
  border-color: #ddd;
  padding: 15px;
  box-shadow: none;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  form.dict-post-form .form-control:focus, form.dict-post-form .tagsinput:focus {
    border-color: #ddd !important; }
form.dict-post-form textarea.form-control {
  transition: .5s;
  height: 200px; }
  form.dict-post-form textarea.form-control:focus {
    height: 200px; }
form.dict-post-form .tagsinput input {
  margin: 0;
  height: auto;
  padding: 0; }
form.dict-post-form .tagsinput span.tag {
  margin-top: 2px;
  margin-bottom: 2px; }
form.dict-post-form .tags-input {
  width: 100% !important;
  min-height: auto !important;
  height: auto; }
form.dict-post-form .form-group small.limitless {
  position: relative;
  top: -25px;
  right: 10px;
  float: right;
  color: #b0b0b0;
  text-shadow: 0 1px 0 white; }

.new-dict-modal .modal-dialog {
  overflow: hidden; }
  .new-dict-modal .modal-dialog .modal-content .modal-header {
    background: #eee;
    padding: 20px 25px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: solid 1px #e0e0e0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
  .new-dict-modal .modal-dialog .modal-content .modal-body {
    padding: 25px; }

/*# sourceMappingURL=dictionary.css.map */
