.post {
  border: solid 1px #e0e0e0;
  padding: 0;
  width: 100%;
  display: table;
  position: relative; }
  .post .post-left-col {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    padding: 20px 15px;
    background: #fbfbfb;
    border-right: solid 1px #eee; }
    .post .post-left-col span.day,
    .post .post-left-col span.month,
    .post .post-left-col span.year,
    .post .post-left-col span.time {
      display: block;
      text-align: center;
      line-height: 20px; }
    .post .post-left-col span.day {
      font-size: 16px;
      font-weight: bold;
      color: #888;
      margin-top: 5px; }
    .post .post-left-col span.month {
      font-size: 12px;
      font-weight: normal;
      color: #999; }
    .post .post-left-col span.year {
      font-size: 12px;
      font-weight: lighter;
      color: #999; }
    .post .post-left-col span.str_day {
      font-weight: bold;
      color: #666;
      font-size: 12px;
      margin-top: 5px;
      display: block; }
    .post .post-left-col span.time {
      font-size: 12px;
      color: #ae0000;
      margin-top: 5px; }
      .post .post-left-col span.time .hour, .post .post-left-col span.time .minute {
        font-weight: bold;
        margin: 0 1px; }
  .post .post-right-col {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding: 0;
    padding-bottom: 0;
    background: #fff; }
    .post .post-right-col header {
      padding-bottom: 15px;
      padding-top: 20px;
      border-bottom: solid 1px #eee; }
      .post .post-right-col header a {
        color: #ae0000; }
    .post .post-right-col .post-content-area {
      padding: 0 20px; }
      .post .post-right-col .post-content-area li {
        padding: 15px 0 15px 5px;
        border-top: solid 1px #eee; }
        .post .post-right-col .post-content-area li:first-child {
          border-top: none; }
      .post .post-right-col .post-content-area .content-text {
        margin-top: 20px; }
      .post .post-right-col .post-content-area p {
        margin: 0;
        position: relative;
        z-index: 2;
        overflow: auto;
        font-weight: normal;
        line-height: 25px;
        font-size: 16px; }
        .post .post-right-col .post-content-area p img {
          max-height: 400px;
          max-width: 100%;
          width: auto;
          border-radius: 4px; }
    .post .post-right-col .dict-post-form {
      padding: 30px; }
    .post .post-right-col .linebar {
      text-align: left;
      padding: 15px 20px;
      background: #fbfbfb;
      border-top: solid 1px #eee;
      margin-top: 15px;
      font-size: 14px; }
      .post .post-right-col .linebar:after {
        content: '';
        display: table;
        clear: both; }
      .post .post-right-col .linebar p {
        padding-left: 0;
        padding-right: 0;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
      .post .post-right-col .linebar a {
        text-decoration: none;
        font-size: 14px;
        padding-right: 15px;
        padding-left: 0;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
        .post .post-right-col .linebar a span {
          color: #666;
          font-weight: normal;
          margin-left: 0;
          padding-left: 5px;
          border: none; }
      .post .post-right-col .linebar a.btn-like i {
        color: #ae0000; }
      .post .post-right-col .linebar a.btn-comment i {
        color: #e67e22; }
      .post .post-right-col .linebar .footer-toggle .likers {
        font-size: 12px; }
        .post .post-right-col .linebar .footer-toggle .likers a {
          margin: 0;
          padding: 0;
          font-size: 12px; }
        .post .post-right-col .linebar .footer-toggle .likers strong {
          margin-right: 5px; }
      .post .post-right-col .linebar .footer-toggle .comments {
        font-size: 14px; }
        .post .post-right-col .linebar .footer-toggle .comments .comment-line {
          position: relative; }
          .post .post-right-col .linebar .footer-toggle .comments .comment-line:not(:last-child) {
            border-bottom: solid 1px #eee;
            padding-bottom: 15px;
            margin-bottom: 15px; }
          .post .post-right-col .linebar .footer-toggle .comments .comment-line .user-img {
            width: 20px;
            height: 20px;
            position: absolute;
            left: -31px;
            top: 0; }
          .post .post-right-col .linebar .footer-toggle .comments .comment-line .name-surname {
            font-weight: bold;
            margin-bottom: 5px;
            font-size: 14px;
            display: block;
            color: #ae0000; }
          .post .post-right-col .linebar .footer-toggle .comments .comment-line .comment-text {
            font-weight: normal;
            display: block;
            color: #888;
            font-size: 14px; }
  .post .panel-footer {
    display: table-row; }

.btnLoadMore {
  width: 100%;
  height: auto;
  padding: 15px; }

/*# sourceMappingURL=post.css.map */
