///* Panel */
//.post {
//    position: relative;
//}
//
//.panel-post {
//    display: table;
//    width: 100%;
//    max-width: 100%;
//    table-layout: fixed;
//    text-align: left;
//
//    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .02);
//    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .02);
//    box-shadow: 0 0 15px rgba(0, 0, 0, .02);
//
//    -webkit-border-radius: 15px;
//    -moz-border-radius: 15px;
//    border-radius: 15px;
//
//    overflow: hidden;
//
//    border: none;
//
//    z-index: 100;
//    position: relative;
//}
//
//.panel-body {
//    padding: 25px;
//    font-size: 16px;
//    color: #888;
//}
//
//.panel-post img {
//    max-width: 100%;
//}
//
///* UserBar */
//.post .userbar {
//    padding: 0 20px;
//
//    position: relative;
//    bottom: -10px;
//    z-index: 1;
//
//    text-shadow: 0 1px 0 #fff;
//}
//
//.post .userbar img.userimg {
//    width: 50px;
//    height: 50px;
//
//    -webkit-border-radius: 50%;
//    -moz-border-radius: 50%;
//    border-radius: 50%;
//
//    position: relative;
//    top: 0;
//
//    transition: .5s;
//}
//
//.userbar .username {
//    font-weight: normal;
//    color: #777;
//    font-size: 16px;
//    margin-left: 10px;
//}
//
//.userbar .pull-right {
//    margin-top: 14px;
//    color: #777;
//}
//
///* Buttons */
//.right-buttons {
//    position: absolute;
//    right: -90px;
//    bottom: 10px;
//    z-index: 0;
//    transition: .5s;
//
//    text-shadow: 0 1px 0 #fff;
//}
//
//.right-buttons span {
//    opacity: 0;
//    transition: .5s;
//    position: relative;
//    right: -100px;
//    display: inline-block;
//}
//
//.right-buttons .btn {
//    -webkit-border-radius: 50%;
//    -moz-border-radius: 50%;
//    border-radius: 50%;
//
//    padding: 0;
//    padding-top: 8px;
//    padding-left: 1px;
//
//    width: 40px;
//    height: 40px;
//
//    font-size: 18px;
//    color: #fff;
//
//    transition: .8s;
//}
//
//.button-line {
//    width: 120px;
//    text-align: left;
//}
//
//.button-line:first-child {
//    margin-bottom: 10px;
//}
//
//.button-line span {
//    font-weight: bold;
//    color: #666;
//    font-size: 16px;
//    margin-left: 5px;
//}
//
//.right-buttons .btn-like {
//    background: #FC8049;
//}
//
//.right-buttons .btn-comment {
//    background: #C7E154;
//    padding-top: 6px
//}
//
//.post:hover .right-buttons {
//    right: -120px;
//}
//
//.post:hover .right-buttons span {
//    opacity: 1;
//    right: 0;
//    transform: rotate(-360deg);
//}
//
//.post:hover .right-buttons .btn {
//    transform: rotate(360deg);
//}


.post{

    border:solid 1px #e0e0e0;
    padding:0;
    width:100%;
    display:table;
    position: relative;

    .post-left-col{
        display:table-cell;
        text-align: center;
        vertical-align: top;
        white-space: nowrap;

        padding:20px 15px;

        background: #fbfbfb;
        border-right:solid 1px #eee;

        span.day,
        span.month,
        span.year,
        span.time
        {
            display: block;
            text-align: center;
            line-height: 20px;
        }

        span.day{
            font-size: 16px;
            font-weight: bold;
            color:#888;
            margin-top:5px;
        }

        span.month{
            font-size: 12px;
            font-weight: normal;
            color:#999;
        }

        span.year{
            font-size: 12px;
            font-weight: lighter;
            color:#999;
        }

        span.str_day{
            font-weight:bold;
            color:#666;
            font-size:12px;
            margin-top:5px;
            display: block;
        }

        span.time{
            font-size:12px;
            color:#ae0000;
            margin-top:5px;

            .hour, .minute{
                font-weight:bold;
                margin:0 1px;
            }
        }

    }
    .post-right-col{
        display: table-cell;
        vertical-align: top;
        width:100%;

        padding:0;
        padding-bottom:0;

        background: #fff;

        header{
            padding-bottom:15px;
            padding-top:20px;
            border-bottom:solid 1px #eee;

            a{
                color:#ae0000;
            }
        }

        .post-content-area{

            padding:0 20px;

            li{
                padding:15px 0 15px 5px;
                border-top:solid 1px #eee;

                &:first-child{
                    border-top:none;
                }
            }

            .content-text{
                margin-top:20px;
            }

            p{
                margin:0;
                position: relative;
                z-index: 2;
                //max-height:300px;
                overflow:auto;
                font-weight:normal;

                line-height: 25px;
                font-size:16px;

                img{
                    max-height:400px;
                    max-width:100%;
                    width:auto;

                    border-radius: 4px;
                }
            }
        }

        .dict-post-form{
            padding:30px;
        }

        .linebar{

            text-align:left;
            padding:15px 20px;
            background: #fbfbfb;

            border-top:solid 1px #eee;
            margin-top:15px;

            font-size:14px;

            &:after{
                content:'';
                display:table;
                clear:both;
            }

            p{
                padding-left:0;
                padding-right:0;
                text-shadow: 0 1px 0 rgba(255,255,255,.5);
            }

            a{
                text-decoration: none;
                font-size:14px;

                padding-right:15px;
                padding-left:0;

                text-shadow: 0 1px 0 rgba(255,255,255,.5);

                span{
                    color:#666;
                    font-weight:normal;
                    margin-left:0;
                    padding-left:5px;
                    border:none;
                }
            }

            a.btn-like{
                i{color:#ae0000;}
                //i{color:#666;}
            }
            a.btn-comment{
                i{color:#e67e22;}
                //i{color:#666;}
            }

            .footer-toggle{

                .likers{
                    font-size:12px;
                    a{margin:0; padding:0; font-size:12px;}
                    strong{margin-right:5px;}
                }

                .comments{
                    font-size:14px;

                    .comment-line{
                        position: relative;

                        &:not(:last-child){
                            border-bottom:solid 1px #eee;
                            padding-bottom:15px;
                            margin-bottom:15px;
                        }


                        .user-img{
                            width:20px;
                            height:20px;
                            position: absolute;
                            left:-31px;
                            top:0;
                        }
                        .name-surname{
                            font-weight:bold;
                            margin-bottom:5px;
                            font-size:14px;
                            display: block;
                            color:#ae0000;
                        }
                        .comment-text{
                            font-weight:normal;
                            display: block;
                            color:#888;
                            font-size:14px;
                        }
                    }
                }
            }
        }

    } // Right

    .panel-footer{
        display:table-row;
    }

} // Post

.btnLoadMore{
    width:100%;
    height:auto;
    padding:15px;
}