$topbar_height: 70px;

body {
    background: #EBEFF2;
    font-family: 'Roboto', Helvetica, "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    color:#34495E;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus,
a:active,
a:visited {
    outline: none;
}

textarea {
    resize: vertical;
}

.main {
    width: 100%;
    height: 100%;
}

.mgt100px {
    margin-top: 100px;
}

.clear:after {
    display: table;
    content: '';
    clear: both;
}

.relative{
    position:relative;
}

.dark-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, .8);
    z-index: 1000;
}

.display-none{
    display:none;
}

.container{
    max-width:calc(100% - 30px);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.loading{
    font-size:20px;
    color:rgba(0,0,0,.5);
    text-shadow:0 1px 0 rgba(255,255,255, .4);

    .fa{
        margin-right:5px;
    }
}

// Buttons
.btn{
    border:none !important;
    box-shadow: inset 0 0 10px 0 rgba(0,0,0,.1), 0 0 5px 0 rgba(0,0,0,.1);
    text-shadow: 0 1px 2px rgba(0,0,0,.3);
    transition:.2s;

    margin-right:5px;

    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:lighter;

    &:last-child{
        margin-right:0;
    }

    &:active,
    &:focus{
        box-shadow:none !important;
        outline:none    !important;
    }

    &:hover{
        box-shadow: inset 0 0 50px 0 rgba(0,0,0,.2) !important;

        .fa{
            transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
        }
    }

    span{
        margin-right:8px;
        margin-left:8px;
        padding-left:15px;
        border-left:solid 1px rgba(0,0,0,.1);
    }

    &.btn-sm{
        span{
            margin-right:4px;
            margin-left:4px;
            padding-left:8px;
        }
    }

    .fa{
        transition: .5s;
    }
}
.btn.btn-success{
    background-color: #6ab432;
}

/* Navbar */
.topbar {
    position: fixed;
    z-index: 100;
    top:0;
    left:0;
    right:0;

    background: rgba(52, 52, 52, 1);
    vertical-align: middle;
    box-shadow:0 0 10px rgba(0,0,0,.2);

    .topbar-body{
        display:table;
        color:#eee;
        width:100%;
        height:$topbar_height;

        .topbar-logo-col{
            display: table-cell;
            font-size:20px;
            font-family: Ubuntu;
            font-weight:normal;
            height: 100%;
            vertical-align: middle;
            padding:0 25px;
            box-shadow:inset 0 0 40px 0 rgba(0,0,0,.2);
            text-shadow:0 1px 0 rgba(0,0,0,.1);
            white-space:nowrap;

            background: #6ab432;

            &.profile-logo{
                background: #d35400;
            }

            position: relative;

            .fa{ margin-right:15px; }

            a, a:visited, a:hover, a:active, a:focus{
                color:inherit;
                text-decoration: none;
            }

            &:hover{
                ul.logo-menu{
                    display: inline-block;
                }
            }

            ul.logo-menu{

                display:none;

                position: absolute;
                top:$topbar_height;
                left:0;
                width:100%;

                margin:0;
                padding:0;
                list-style:none;

                background: #f5f5f5;
                box-shadow:0 0 2px 0 rgba(0,0,0,.1);

                li{
                    border-bottom:solid 1px #e0e0e0;

                    a{
                        padding:25px;
                        font-size:16px;
                        color:#666;
                        display: inline-block;
                        width:100%;
                        text-decoration: none;
                        transition: .2s;

                        &:hover{
                            background: #f0f0f0;
                        }
                    }
                }
            }
        }
        .topbar-search-col{
            display: table-cell;
            height: 100%;
            width: 99%;
            vertical-align: middle;
            padding:0;

            .form-control{
                border:none;
                background: transparent;
                box-shadow: none;
                outline: none;
                color:#ccc;
                height:70px;
                padding:0 25px;
            }

        }
        .topbar-user-col{
            display: table-cell;
            min-width:280px;
            height: 100%;
            //background: #3e3e3e;
            vertical-align: middle;
            padding:0 25px;
            white-space:nowrap;
        }
        .topbar-new-button-col{
            display: table-cell;
            width:50px;
            height: 100%;
            tet-align:center;
            background: #3e3e3e;
            vertical-align: middle;
            padding:0 25px;
        }


    } // Topbar Body

    .topbar-icon {
        color: #ccc;
        font-size: 20px;
        display: inline-block;
        margin-left:10px;
        margin-top:5px;

        &:hover {
            color: #eee;
        }
    }

    .user-img {
        margin-top:5px;
    }

    .user-name {
        margin-left: 10px;
        color: #ccc;
        text-decoration: none;
        position: relative;
        margin-top:10px;
        display: inline-block;

        &:hover {
            color: #eee;
        }
    }
} // Topbar

.header-menu {
    background: #f0f0f0;
    border-bottom:solid 1px #cccccc;
    padding: 15px 0;

    a {
        color: #666;
        text-decoration: none;
        font-weight:normal;

        &:hover {
            color: #d35400;
        }
    }

} // Header Menu


.site-container{

    $right_hide_width : 1490px;

    //display: table;
    //width:100%;
    height:100%;

    .site-content-col{
        //display:table-cell;
        height:100%;
        position: relative;

        .content-body{
            position:absolute;
            top:0; left:0; right:0; bottom:0;
            overflow: auto;
            padding-bottom:30px;
        }

    } // Content Col
    .site-right-col{
        //display: table-cell;
        //width:300px;
        height:100%;

        max-width:270px;

        background: #f5f5f5;
        border-left:solid 1px #d9d9d9;

        position: relative;

        //@media screen and (max-width: $right_hide_width) {
        //    width:85px;
        //}

        .right-body{
            position:absolute;
            top:0; left:0; right:0; bottom:0;

            padding:15px;
            padding-top:0;
            overflow:auto;

            .date-label{
                border-radius:4px;
                color:#666;
                font-size:12px;
                position: relative;
                text-align: center;

                margin:20px 0;

                //@media screen and (max-width: $right_hide_width) {
                //    display:none;
                //}

                &:before{
                    width:100%;
                    content:'';
                    display:block;
                    border-top:solid 1px #e0e0e0;
                    margin-top:9px;
                    position:absolute;
                }

                span{
                    background: #F5F5F5;
                    display:inline-block;
                    padding:0 10px;
                    position: relative;
                    z-index: 50;
                    color:#999;
                    font-weight:normal;
                    text-shadow:0 1px 0 rgba(255,255,255,.5);
                }

            } // Date Label



        }
    } // Right Col

}


.users-log-body{
    padding:0 20px;
}
.userline{

    display: table;
    width:100%;
    margin:20px 0;
    font-size:13px;

    .line-left{
        display: table-cell;
        width:35px;
        vertical-align: top;
        border-right:solid 1px #eee;

        .user-img{
            position: relative;
        }
    }
    .line-right{
        display: table-cell;
        vertical-align: top;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
        padding-left:10px;

        .namesurname{
            color:#ae0000;
            text-shadow:0 1px 0 rgba(255,255,255,.9);
            font-weight:bold;
        }
        .action{
            font-size:12px;
            font-weight:normal;
            color:#888;
        }

        //@media screen and (max-width: $right_hide_width) {
        //    display:none;
        //}
    }

} // User Line



/*  Site Footer  */
.site-footer {
    padding: 20px 0 40px 0;
    border-top: solid 1px #eee;
}

/* Hashtags */
a.hashtag {
    color: #d35400;
    text-decoration: none;
    font-weight: normal;
}

a.hashtag:hover {
    color: #333;
}

.panel img {
    max-width: 100%;
}

/* Follow Button */
.btn-follow {
    text-align: center;
    font-size: 40px;
    width: 60px;
    height: 60px;
    color: #fff;
    transition: .5s;
    outline: none;
    display: inline-block;
    border: none;
    border-radius: 50%;

    text-decoration: none;

    padding: 0;
}

.btn-follow.follow {
    background-color: #9FBB1D;
}

.btn-follow.unfollow {
    background-color: #c0392b;
}

.btn-follow:hover,
.btn-follow:active,
.btn-follow:visited,
.btn-follow:focus {
    color: #fff;
}

.btn-follow.follow:hover {
    background-color: #7EBF00;
    box-shadow: 0 0 30px 0 rgba(159, 187, 29, .5);
}

.btn-follow.unfollow:hover {
    background-color: #ae0000;
    box-shadow: 0 0 30px 0 RGBA(194, 56, 36, .5);
}

.btn-follow.follow .fa-times {
    display: none !important;
}

.btn-follow.unfollow .fa-check {
    display: none !important;
}

/* Settings */
.settings-list-group {
    margin: 0;
}

.settings-list-group li {
    padding: 20px 15px;
    font-weight: normal;
    color: #666;
    border: none;
    border-top: solid 1px #eee;
}

.settings-list-group li:first-child {
    border: none;
}

.settings-list-group .fa {
    margin-right: 15px;
    color: #888;
}

.settings-list-group li .badge {
    background: none;
    color: #d35400;
}

.settings-list-group h4 {
    color: #d35400;
    font-weight: normal;
    margin-bottom: 20px;
}

.settings-list-group h4 .fa {
    margin-right: 5px;
}

.settings-list-group p {
    color: #666;
}

.settings-panel {
    display: none;
    background: #fefefe;
    border: solid 1px #e0e0e0;

    margin-top: 15px;
    padding: 40px 15px;
}

.settings-panel .form-control {
    height: auto;
    padding: 10px 15px;
}

.settings-panel .form-group:last-child {
    margin-bottom: 0;
}

/* User Image */
.user-img {
    /*border:solid 1px #e0e0e0;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    /*-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.1);*/
    /*-moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.1);*/
    /*box-shadow: 0 0 5px 0 rgba(0,0,0,.1);*/
}

/* User Logs */
.user-logs {
    margin: 0;
    padding-left: 15px;
    border-left: solid 1px #eee;
    margin-left: 15px;
}

.user-logs li {
    padding: 20px 15px;
    font-weight: normal;
    color: #666;
    border: none;
    border-top: solid 1px #eee;
}

.user-logs li:first-child {
    border: none;
}

.user-logs .fa {
    margin-right: 15px;
    color: #888;
}

.user-logs li .badge {
    background: none;
    color: #d35400;
}

.user-logs .user-img {
    color: #d35400;
    position: relative;

    margin-top: -2px;
    margin-left: -40px;
    margin-right: 15px;
}

/* Browser Modal */
.browserModal .modal-dialog {
    width: calc(100% - 50px);
    height: 100% !important;
}

.browserModal .modal-content {
    height: calc(100% - 70px) !important;
    overflow: auto;
}

.browserModal .btn-danger {
    margin-top: 2px;
}

a.built-in-browser {
    color: #ae0000;
}

/* Scrollbar */
.scrollbar {
    position: relative;
    overflow: hidden;
}


.page-section {
    height: 100%;
}

.page-section .panel-post {
    margin: 0 auto;
}



// Modal
.modal{

    .modal-dialog{
        overflow: hidden;

        -webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,.5);
        -moz-box-shadow: 0 0 50px 0 rgba(0,0,0,.5);
        box-shadow: 0 0 50px 0 rgba(0,0,0,.5);

        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;

        .modal-content{

            .modal-header{
                background: #eee;
                padding:20px 25px;

                border-top-left-radius: 4px;
                border-top-right-radius:4px;

                border-bottom:solid 1px #e0e0e0;

                text-shadow: 0 1px 0 rgba(255,255,255,.8);
            }
            .modal-body{
                padding:25px;
            }
        }
    }
}


.emoji{
    width:auto;
    height:20px;
    margin:0 3px;
}

.img-circle{
    border-radius:50% !important;
}

.form-horizontal .form-group{
    margin-left:0;
    margin-right:0;
}