html, body{ height:100% }

.dropdown-content{

    li{

        .fa{
            margin-right:15px;
        }
    }
}

[data-cx-scrollbar], [data-scrollbar], [cx-scrollbar]{
    overflow: hidden;
    position: relative;
}

.modal{

    &[data-image-upload-modal]{

        min-width: 200px;
        max-width: 400px;

        .modal-title{
            padding:20px;
            margin:0;
            background: #e0e0e0;
            font-size:20px;
            border-bottom:solid 1px #d9d9d9;
        }

        .img-preview{

            border:solid 1px #e0e0e0;
            background: #fff;
            display:none;
            padding:5px;

            img{
                max-width:100%;
                max-height:200px;
            }
        }
    }

    &#user_login_modal,
    &#user_register_modal{

        max-width:400px;

        h4{
            margin:0;

            span{
                margin-left:10px;
            }
        }
    }

    &#user_settings_modal{

        h4{
            margin:0;
        }
    }


    &#search_modal{

        .search-results{
            border-top:solid 1px #d9d9d9;
        }
    }

}

.cx-image-upload-button{

    img{
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;

        background: #fff;
        display:block;
    }
}

.cx-image-upload-form{
    display:none !important;
    visibility:hidden !important;
    opacity:0 !important;
    width:0 !important;
    height:0 !important;
    overflow:hidden !important;
}

.emoji{
    width:auto;
    height:20px;
    margin:0 3px;
    vertical-align: middle;
}

img{

    max-width:100%;
    height:auto;

    &[src = ""]{ display:none }
}

[data-share="facebook"]{color:#3C5A96}
[data-share="twitter"]{color:#2AA3EF}
[data-share="google-plus"]{color:#D9453D}
[data-share="linkedin"]{color:#177AB3}
[data-share="whatsapp"]{color:#0DC143}

.btn-floating.cx-fixed{

    position:fixed;
    right:15px;
    bottom:15px;
}

.fsz-12px{font-size:12px !important}
.fsz-14px{font-size:14px !important}
.fsz-16px{font-size:16px !important}
.fsz-18px{font-size:18px !important}
.fsz-20px{font-size:20px !important}
.fsz-22px{font-size:22px !important}
.fsz-24px{font-size:24px !important}
.fsz-26px{font-size:26px !important}
.fsz-28px{font-size:28px !important}
.fsz-30px{font-size:30px !important}
.fsz-h1{font-size:4.2rem !important}
.fsz-h2{font-size:3.56rem !important}
.fsz-h3{font-size:2.92rem !important}
.fsz-h4{font-size:2.28rem !important}
.fsz-h5{font-size:1.64rem !important}
.fsz-h6{font-size:1rem !important}

.fw-200{font-weight:200 !important}
.fw-300{font-weight:300 !important}
.fw-400{font-weight:400 !important}
.fw-500{font-weight:500 !important}
.fw-600{font-weight:600 !important}

.m-0{margin:0 !important}
.mgt-0{margin-top:0 !important}
.mgt-5px{margin-top:5px}
.mgt-10px{margin-top:10px}
.mgt-15px{margin-top:15px}
.mgt-20px{margin-top:20px}
.mgt-25px{margin-top:25px}

.mgb-0{margin-bottom:0 !important}
.mgb-5px{margin-bottom:5px}
.mgb-10px{margin-bottom:10px}
.mgb-15px{margin-bottom:15px}
.mgb-20px{margin-bottom:20px}
.mgb-25px{margin-bottom:25px}


.center-box{

    display:table;
    width:100%;
    height:100%;

    .center-content {
        display:table-cell;
        vertical-align:middle;
        text-align:center;
    }
}

.cx-table-row{
    
    display:table;
    width:100%;

    .cx-table-cell{
    
        display:table-cell;
    
        &.w0percent{width:0%;}
        &.w10percent{width:10%;}
        &.w20percent{width:20%;}
        &.w30percent{width:30%;}
        &.w40percent{width:40%;}
        &.w50percent{width:50%;}
        &.w60percent{width:60%;}
        &.w70percent{width:70%;}
        &.w80percent{width:80%;}
        &.w90percent{width:90%;}
        &.w100percent{width:100%;}
        
        &.cx-vertical-middle{vertical-align:middle}
    }
}