html, body{ height:100% }

.dropdown-content{

    li{

        .fa{
            margin-right:15px;
        }
    }
}

[data-cx-scrollbar], [data-scrollbar], [cx-scrollbar]{
    overflow: hidden;
    position: relative;
}

.modal{

    &[data-image-upload-modal]{

        min-width: 200px;
        max-width: 400px;

        .modal-title{
            padding:20px;
            margin:0;
            background: #e0e0e0;
            font-size:20px;
            border-bottom:solid 1px #d9d9d9;
        }

        .img-preview{

            border:solid 1px #e0e0e0;
            background: #fff;
            display:none;
            padding:5px;

            img{
                max-width:100%;
                max-height:200px;
            }
        }
    }

    &#user_login_modal,
    &#user_register_modal{

        max-width:400px;

        h4{
            margin:0;

            span{
                margin-left:10px;
            }
        }
    }

    &#user_settings_modal{

        h4{
            margin:0;
        }
    }

}

.cx-image-upload-button{

    img{
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;

        background: #fff;
        display:block;
    }
}

.cx-image-upload-form{
    display:none !important;
    visibility:hidden !important;
    opacity:0 !important;
    width:0 !important;
    height:0 !important;
    overflow:hidden !important;
}

.emoji{
    width:auto;
    height:20px;
    margin:0 3px;
    vertical-align: middle;
}

img{

    max-width:100%;
    height:auto;

    &[src = ""]{ display:none }
}

[data-share="facebook"]{color:#3C5A96}
[data-share="twitter"]{color:#2AA3EF}
[data-share="google-plus"]{color:#D9453D}
[data-share="linkedin"]{color:#177AB3}
[data-share="whatsapp"]{color:#0DC143}

.btn-floating.cx-fixed{

    position:fixed;
    right:15px;
    bottom:15px;
}